<!DOCTYPE html>
<html lang="en">
<head>

    <style type="text/css">
    body{
        background-color: rgb(96, 137, 175);
    }

    </style>
   
</head>
<body>
    <h1> <center> PRIYANKA </center></h1>
    <h2><center>ID:1001874594</center></h2>
    <br>
    <br>
    <br>
<center>
    <form method='POST' action="/range">
        ENTER ANY ID(4-DIGIT) RANGE FROM <input type="number" name="range1" placeholder="Enter id number"> TO <input type="number" name="range2" placeholder="Enter id number"> TO SEE THE DATA BETWEEN THAT RANGE
        <br>
        <br>
        <input type="submit">
    </form>
    <br>
    <br>
    <br>

    <form method='POST' action='/filter'>
        ENTER A ID(4-DIGIT) RANGE FROM <input type="number" name='id1' placeholder="Enter id"> TO <input type="number" name="id2" placeholder="Enter id number"> TO SEE THE CODE AND PWD BETWEEN THAT RANGE
        <br>
        <br>
        <input type="submit">
    </form>
    <br>
    <br>
    <br>


    <form method="POST" action="/matches">
        ENTER CODE(6-DIGIT)<input type="number" name="code" placeholder="Enter code"> AND NO.OF MATCHES <input type="number" name="number" placeholder="Enter number"> TO DISPLAY
        <br>
        <br>
        <input type="submit">
    </form>
    <br>
    <br>
    <br>

    
    <form method="POST" action="/timetaken">
        ENTER NUMBER OF TIMES TO EXECUTE A QUERY<input type="number" name="time" placeholder="Enter no.of times"> TO SEE THE TIME TAKEN TO EXECUTE
        <br>
        <br>
        <input type="submit">
    </form>



</center>
    

</body>
</html>